requests
boto3==1.34.61
botocore==1.34.61
dnspython==2.6.1
jmespath==1.0.1
motor==3.3.2
numpy==1.26.4
pandas==2.2.1
pymongo==4.6.2
python-dateutil==2.9.0.post0
pytz==2024.1
s3transfer==0.10.0
six==1.16.0
tzdata==2024.1
urllib3==2.0.7
openpyxl